{% extends "header.html" %}
{% block content %}
<div class="center-div">
    <h1 class="pb10">Feedback Saved Successfully</h1>
      <table class="pt10" border = 1>
         <thead>
            <td><b>Movie Review</b></td>
             <td><b>Sentiment</b></td>
             <td><b>Feedback</b></td>
         </thead>
         
         {% for row in rows %}
            <tr>
               <td>{{row[1]}}</td>
               <td>{{row[2]}}</td>
               <td>{{row[3]}}</td>
            </tr>
         {% endfor %}
      </table>
{% endblock %}